<template name="MobileSignupUI">
    <div id="collect-info">
      <div class="col-xs-10 col-xs-offset-1">
        <h5>Looks like this is the first time you're using the app.</h5>
        <p>Please tell us a couple things to help you better.</p>
      </div>
      <div class="col-xs-12" style="margin-top:2em;">
        <div class="form-group">
          <label for="mobileNumber" class="sr-only">Mobile number:</label>
          <div class="input-group">
            <div class="input-group-addon">&plus;91</div>
            <input
              type="text"
              class="form-control"
              placeholder="Mobile number"
              name="mobileNumber">
          </div>
        </div>
        <div class="form-group">
          <label for="fullName" class="sr-only">Full name:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            name="fullName">
        </div>
        <div class="form-group">
          <button
            class="btn btn-default btn-primary"
            id="mobileSignupBtn">
            I'm ready
          </button>
        </div>
      </div>
    </div>
</template>
